.credit {
  &__inner {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    // align-items:center;
    flex-wrap: wrap;
    gap: 20px;

    // justify-content: space-between;
  }
  &__slider-wrapper {
    // margin: 0 auto;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 97%);
    background-color: #0b5aa7;

    width: 100%;
    &__slider {
      position: relative;
    }
  }
  .slick-prev {
    width: 130px;
    &:before {
      content: url('../images/icon/chevron-compact-left.svg');
    }
    position: absolute;
    top: 50%;
    left: 150px;
    z-index: 2;
  }
  .slick-next {
    width: 130px;
    &:before {
      content: url('../images/icon/chevron-compact-right.svg'); 
    }
    position: absolute;
    top: 50%;
    right: 150px;
    z-index: 3;
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  &__h3-title {
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
    text-align: center;
  }
  &__h4-title {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    // background-color:#E1200F;
    color: $white;
    span {
      clip-path: polygon(5% 1%, 100% 0%, 95% 100%, 0% 100%);
      background-color:#e1200f;
      padding: 0 30px;
    }
  }
  &__text {
    margin-top: 50px;
    width: 400px;
    color: $white;
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }
  &__btn {
    transition: 0.1s ease-in;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.4);
      background-color: #e1200f;
      color: $white;
    }
    background-color: #ffffff;
    padding: 8px 30px;
  }
  &__link {
    transition: 0.1s ease-in;
    &:hover {
      color: $white;
    }
  }

  &__img {
    height: 680px;
    object-fit: cover;
  }
}

@media (max-width:1720px) {
  .credit {
    .slick-prev {
      width: 80px;
      top: 50%;
      left: 20px;
    }
    .slick-next {
      width: 80px;
      top: 50%;
      right: 20px;
    }
  }
}
@media (max-width:1365px) {
  .credit {
    &__text{
      font-size: 16px;
      margin-top: 11px;
      width: 308px;
    }
    &__h4-title{
      font-size: 28px;
    }
    &__img{
      height: 520px;
    }
    &__link{
      font-size: 17px;
    }
    .slick-prev {
      width: 80px;
      top: 50%;
      left: 20px;
      z-index: 2;
    }
    .slick-next {
      width: 80px;
  
      top: 50%;
      right: 20px;
      z-index: 3;
    }
  }
}
@media (max-width:1130px) {
  .credit {
    &__text{
      font-size: 13px;
      width: 262px;
    }
    &__h3-title{
      font-size: 27px;
    }
    &__h4-title{
      font-size: 20px;
    }
    &__img{
      height: 430px;
    }
    &__btn{
      font-size: 13px;
    }
    &__link{
      font-size: 13px;
    }
    .slick-prev {
      width: 50px;
      left: 10px;
    }
    .slick-next {
      width: 50px;
      right: 10px;
    }
  }
}
@media (max-width:899px) {
  .credit {
    &__slider-wrapper {

      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);


    }
    &__inner{
      padding: 20px 0 60px;
      flex-direction: column;
      align-items:center;
      gap:40px;
    }
    &__img-wrapper {
      order: 1;
    }
    &__main {
      order: 2;
    }
    &__text{
      font-size: 17px;
      width: 400px;
    }
    &__h3-title{
      font-size: 32px;
    }
    &__h4-title{
      font-size: 33px;
    }
    &__img{
      height: 755px;
    }
    &__btn{
      font-size: 20px;
    }
    &__link{
      font-size: 18px;
    }
    .slick-prev {
      width: 50px;
      left: 10px;
    }
    .slick-next {
      width: 50px;
      right: 10px;
    }

  }
}
@media (max-width:699px) {
  .credit {

    &__inner{
      padding: 20px 0 60px;
      flex-direction: column;
      align-items:center;
      gap:40px;
    }
    &__img-wrapper {
      order: 1;
    }
    &__main {
      order: 2;
    }
    &__text{
      font-size: 14px;
      width: 400px;
    }
    &__h3-title{
      font-size: 25px;
    }
    &__h4-title{
      font-size: 26px;
    }
    &__img{
      height: 600px;
    }
    &__btn{
      font-size: 16px;
    }
    &__link{
      font-size: 14px;
    }
    .slick-prev {
      width: 50px;
      left: 10px;
    }
    .slick-next {
      width: 50px;
      right: 10px;
    }

  }
}
@media (max-width:540px) {
  .credit {

    &__inner{
      padding: 20px 0 60px;
      flex-direction: column;
      align-items:center;
      gap:40px;
    }
    &__img-wrapper {
      order: 1;
    }
    &__main {
      order: 2;
    }
    &__text{
      font-size: 13px;
      width: 250px;
    }
    &__h3-title{
      font-size: 21px;
    }
    &__h4-title{
      span {
        clip-path: polygon(4% 2%, 100% 0%, 96% 100%, 0% 100%);
        padding: 0 12px;
      }
      font-size: 22px;
    }
    &__img{
      height: 440px;
    }
    &__btn{
      font-size: 16px;
      padding: 5px 20px;
    }
    &__link{
      font-size: 14px;
    }


  }
}
@media (max-width:440px) {
  .credit {

    &__inner{
      padding: 20px 0 60px;
      flex-direction: column;
      align-items:center;
      gap:40px;
    }
    &__img-wrapper {
      order: 1;
    }
    &__main {
      order: 2;
    }
    &__text{
      font-size: 13px;
      width: 250px;
    }
    &__h3-title{
      font-size: 18px;
    }
    &__h4-title{
      span {
        clip-path: polygon(4% 2%, 100% 0%, 96% 100%, 0% 100%);
        padding: 0 12px;
      }
      font-size: 16px;
    }
    &__img{
      height: 450px;
    }
    &__btn{
      font-size: 16px;
      padding: 5px 20px;
    }
    &__link{
      font-size: 14px;
    }
  }
}
@media (max-width:350px) {
  .credit {

    &__inner{
      padding: 20px 0 60px;
      flex-direction: column;
      align-items:center;
      gap:40px;
    }
    &__img-wrapper {
      order: 1;
    }
    &__main {
      order: 2;
    }
    &__text{
      font-size: 13px;
      width: 250px;

    }
    &__h3-title{
      font-size: 18px;
    }
    &__h4-title{
      span {
        clip-path: polygon(4% 1%, 100% 0%, 96% 100%, 0% 100%);
        padding: 0 12px;
      }
      font-size: 14px;
    }
    &__img{
      height: 450px;
    }
    &__btn{
      font-size: 16px;
      padding: 5px 20px;
    }
    &__link{
      font-size: 14px;
    }
  }
}