.footer__inner{
  margin-bottom: 0px;
}
.footer__content {
  // border: 1px solid green;
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  background-color: $accent-bg;
  margin-bottom: 0px;
}
.footer__logo{

}
.footer-logo{
  font-size: 50px;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 37%;
    height: 1px;
    width: 72px;
    background-color: $black;
  }
}
.footer__logo-top{

}
.footer__logo-bottom {

}
.footer__logo-link{}

.footer__nav{
}
.footer__nav-items{
  padding: 15px 30px;
}
.footer__nav-item{
  margin-bottom: 10px;
  transition: transform 0.4s ease;
  &:last-child{
    margin-bottom: 0;
  }
  &:hover {
    color: $hover-text;
    transform: translateX(-10%);
  }
}
.footer__nav-link{
  
  font-family: $font-accent;
}


.online-registration {
}
.online-registration__inner {
}
.h4-title {
}
.online-registration__btn-wrapper {
  margin-bottom: 9px;
}
.online-registration__link {
  font-family: $font-accent;
  padding: 4px;
  transition: transform 0.4s ease;
  &:hover{
    color:$hover-text;
    transform: translateX(-10%);
  }
}





.footer__bottom {
  border-top:1px solid $black;
  padding: 35px;

}
.footer__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.advertising {
  // background-color:rgb(196, 190, 190);
  padding: 15px;
  border:$advertising-border;
  border-radius: 15px;
}
.h5-title {
  font-family: $font-basic;
  font-weight: 600;
  margin-bottom: 5px;
}
.advertising__list {
}
.advertising__item {
  margin-bottom: 5px;
  &:last-child{
    margin-bottom: 0;
  }
}
.advertising__item span {
  &:hover{
    color: $hover-text
  }
}
.footer__bottom-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.copyright {
}
.copyright__text {
}






