.header__inner {
 
}
.header__top {
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: $accent-bg;
}
.logo {
  position: relative;
  text-align: center;
  font-size: 105px;
  font-weight: 500;
  color:$logo-color;

  &::after {
    content: '';
    position: absolute;
    top: 48%;
    left: 39%;
    height: 1px;
    width: 126px;
    background-color: $logo-color;
  }
  &__top {
    margin-bottom: 15px;
  }
}
.nav__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px 0;
  padding: 15px 15px;
}
.nav__item {
  font-size: 30px;
  font-weight: 500;
  font-family: $font-secondary;
  transition: color 0.2s ease;
  transition: transform 0.4s ease;
  
  &:hover {
    color: $hover-text;
    transform: translateX(-10%);
  }
}
.social__items {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.bi {
  transition: color 0.2s ease;
  
  width: 40px;
}
.bi-telegram{
 
  &:hover {
    color: $telegram-color;
    
  }
}
.bi-instagram{
  &:hover {
    color: $instagram-color;
   
  }
}
.bi-youtube{
  &:hover {
    color: $youTube-color;
    
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.header__img {
  max-width: 600px;
  margin-right: 50px;
}
.header__content {
  font-family: $font-basic;
}
.header__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 35px;
}
.header__subtitle {
  margin-bottom: 35px;
}
