.header__top {
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: $accent-bg;
  margin-bottom: 50px;
}
.logo {
  position: relative;
  text-align: center;
  font-size: 105px;
  font-weight: 500;

  &::after {
    content: '';
    position: absolute;
    top: 48%;
    left: 39%;
    height: 1px;
    width: 126px;
    background-color: black;
  }
  &__top {
    margin-bottom: 15px;
  }
}

.header__nav {
}
.nav__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px 0;
  padding: 15px 15px;
}
.nav__item {
  font-size: 30px;
  font-weight: 500;
  font-family: $font-secondary;
  transition: color 0.2s ease;

  &:hover {
    color: $hover-text;
  }
}

.social {
}
.social__items {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.social__item-link {
}
.bi {
  transition: color 0.2s ease;
  &:hover {
    color: $hover-text;
  }
  width: 40px;
}

.header__bottom {
  display: flex;
  align-items: start;
}
.header__img {
  max-width: 600px;
  margin-right: 50px;
}
.header__content {
  font-family: $font-basic;
}
.header__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 35px;
}
.header__subtitle {
  font-size: 25px;
  font-family: $font-accent;
  margin-bottom: 35px;
}

