.product {

  
}
.product__inner{
  padding: 45px 0;
}
.product__title {
  margin-bottom: 50px;
  text-align: center;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.product__list-item {
  // border: 1px solid red;
}
.product__list-link {
}
.product__content {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  height: 770px;
  width: 350px;
  &:hover {
    box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.4);
    background-color:$card-hover-color;
  }
  img{
    height: 450px;
    object-fit: cover;
  }
}
.product__text {
  padding: 20px 20px;
}

.training-period {
  font-family: $font-accent;
  font-size: 20px;
}
.price {
  font-family: $font-accent;
  font-size: 25px;

}
