.product {
  &__inner {
    padding: 45px 0;
  }
  &__title {
    margin-bottom: 15px;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__text {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
    }
  }
  &__content {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    height: 690px;
    width: 350px;
    &:hover {
      box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.4);
      background-color:$card-hover-color;
    }
    img{
      height: 450px;
      object-fit: cover;
    }
  }
}
.training-period {
  font-family: $font-accent;
  font-size: 20px;
}
.price {
  font-family: $font-accent;
  font-size: 25px;
}

@media (max-width:1000px){
  .product {
    &__content {
      height: 590px;
      img {
        height: 350px;
      }
    }
  }
}