// Fonts
// font-family: "Open Sans", sans-serif;
// font-family: "Marck Script", cursive;
$font-accent: 'Open Sans', sans-serif;
$font-secondary: 'Marck Script', serif;
$font-basic: 'Roboto", sans-serif';

//color
$accent-bg: #cdc9c9;
$hover-text: #892e3c;
$body-bg: #ffffff71;

//logo color
$logo-color:#584245;

//blog
$blog-bg:#e7e4e4;
// btn
$btn-color-bg:#fff;
$btn-hover-bg:#892e3c;
$btn-color-text: #fff;

//setting color
$white:#ffffff;
$black: black;
// advertising color
$advertising-link :rgb(36, 36, 201);
$advertising-border: black;
// accordeon color
$accordion__btn-bg:#e7e4e4;
$accordion__btn-active:#989595;
$accordion__btn-hover:#b0b0b0;
$accordion__content-bg:#fafafa;
