// Fonts
$font-accent: 'Open Sans', sans-serif;
$font-secondary: 'Marck Script', serif;
$font-basic: 'Roboto", sans-serif';

//color
$accent-bg: #cdc9c9;
$hover-text: #892e3c;
$body-bg: #ffffff71;

//logo color
$logo-color:#584245;
//services
$hover-btn_bg:#e3648893;
$hover-btn_text:#ffffff;

//product
$card-hover-color:#a0707e93;
// btn
$btn-color-bg:#fff;
$btn-hover-bg:#a0707e93;
$btn-color-text: #fff;
//social-icon
$instagram-color:#C63DC3;
$telegram-color:#269DD9;
$youTube-color:#FF0606;
//setting color
$white:#ffffff;
$black: black;
$red:red;
// advertising color
$advertising-link :rgb(36, 36, 201);
$advertising-border: black;
// accordeon color
$accordion__btn-bg:#f0f0f0;
$accordion__btn-active:#a0707e93;
$accordion__btn-hover:#a0707e60;
$accordion__content-bg:#ffffff;
