// Fonts
// font-family: "Open Sans", sans-serif;
// font-family: "Marck Script", cursive;
$font-accent: 'Open Sans', sans-serif;
$font-secondary: 'Marck Script', serif;

//color
$accent-bg: hsla(273, 100%, 79%, 0.151);
$hover-text: rgb(213, 0, 251);